# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
string = 'INDEPENDENCE'
reversed_string = string[::-1]
print(reversed_string)

ECNEDNEPEDNI

2. Check if a string is a palindrome.

In [2]:
# Define a function to check if a string is a palindrome
def isPalindrome(string: str) -> bool:
    if string == string[::-1]:
        return True
    return False

# Take user input
string  = str(input("Enter the string: ")).lower()

# Print if a string is a palindrome or not
print('The string is', 'a palindrome.' if isPalindrome(string) else 'not a palindrome.')

Enter the string: Nitin
The string is a palindrome.

3. Convert a string to uppercase.

In [3]:
string = 'india'
print(string.upper())

INDIA

4. Convert a string to lowercase.

In [4]:
string = 'INDEPENDENCE'
print(string.lower())

independence

5. Count the number of vowels in a string.

In [5]:
# Define a function to count the vowels
def count_vowels(string: str) -> int:
    count = 0
    vowels = ['a','e','i','o','u']
    for vowel in vowels:
        if string.lower().count(vowel) > 0:
            count += string.lower().count(vowel)
    return count

# Take user input
string  = str(input("Enter a string: "))

# Print the count of vowels by calling the function
print(f'The number of vowels is: {count_vowels(string)}')

Enter a string: Once in a blue moon
The number of vowels is: 8

6. Count the number of consonants in a string.

In [6]:
# Define a function to count the consonants
def count_consonants(sentence: str) -> int:
    consonants_count = 0
    consonants = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
    for char in sentence:
        if char in consonants:
            consonants_count += 1
    return consonants_count

# Take user input
sentence  = str(input("Enter a sentence: "))

# Print the count of consonants by calling the function
print(f'The number of consonants is: {count_consonants(sentence)}')

Enter a sentence: The woods are lovely dark and deep
The number of consonants is: 17

7. Remove all whitespaces from a string.

In [7]:
sentence  = 'Once in a blue moon'
print(sentence.replace(' ', ''))

Onceinabluemoon

8. Find the length of a string without using the `len()` function.

In [8]:
# Define a function to calculate the length of string
def string_length(string: str) -> int:
    length = 0
    # Increment the length variable by 1 with each iteration over the string
    for char in string:
        length += 1
    return length

# Take user input
string  = str(input("Enter a string: "))

# Print the length of string by calling the function
print(f'The length of the string is: {string_length(string)}')

Enter a string: The sun is very hot.
The length of the string is: 20

9. Check if a string contains a specific word.

In [9]:
# Define a function to check if a string contains a specific word
def contains_specific_word(string: str, word: str) -> bool:
    for char in string:
        if char.lower() == word.lower():
            return True
    return False

# Take user input
string  = str(input("Enter a string: "))
word    = str(input("Enter a word: "))

# Print the result
print(f'Contains a specific word: {contains_specific_word(string, word)}')

Enter a string: Brilliant
Enter a word: t
Contains a specific word: True

10. Replace a word in a string with another word.

In [10]:
# Define a function to check if a string contains a specific word
def replace_word(string: str, old_word: str, new_word: str) -> str:
    return string.replace(old_word, new_word)

# Take user input
string    = str(input("Enter a string: "))
old_word  = str(input("Enter a word to be replaced: "))
new_word  = str(input("Enter a new word: "))

# Print the result
print(f'String after modification: {replace_word(string, old_word, new_word)}')

Enter a string: Good Bye!
Enter a word to be replaced: Bye
Enter a new word: Eye
String after modification: Good Eye!

11. Count the occurrences of a word in a string

In [11]:
string = 'Mississippi'
word   = 'p'
count_occurence  =  string.count(word)
print(f"The word '{word}' occurs {count_occurence} times in the string: '{string}'")

The word 'p' occurs 2 times in the string: 'Mississippi'

12. Find the first occurrence of a word in a string

In [12]:
string = 'Island'
word   = 'a'
first_occurence  =  string.lower().find(word)
print(f"First occurence of '{word}' is at an index of {first_occurence}")

First occurence of 'a' is at an index of 3

13. Find the last occurrence of a word in a string

In [2]:
string = 'Mississippi'
word   = 'p'
last_occurence  =  string.lower().rfind(word)
print(f"The last occurence of '{word}' is at an index of {last_occurence}")

The last occurence of 'p' is at an index of 9

14. Split a string into a list of words.

In [14]:
string = 'The woods are lovely dark and deep'
list_of_words = string.split()
print(f"The list of words is: {list_of_words}")

The list of words is: ['The', 'woods', 'are', 'lovely', 'dark', 'and', 'deep']

15. Join a list of words into a string.

In [15]:
word_list = ['The', 'woods', 'are', 'lovely', 'dark', 'and', 'deep']
string = ' '.join(word_list)
print(f"The string after joining words is: {string}")

The string after joining words is: The woods are lovely dark and deep

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [16]:
string = 'The woods are lovely dark and deep'
print(f"The original string is: {string}")

modified_string = string.replace(' ', '_')
print(f"The modified string is: {modified_string}")

The original string is: The woods are lovely dark and deep
The modified string is: The_woods_are_lovely_dark_and_deep

17. Check if a string starts with a specific word or phrase.

In [17]:
string = "Once upon a time in jungle"
word = "Once"
result = string.startswith(word)

print("Result: ",
      "The string starts with the specified word" if result == True 
      else "The string does not start with the specified word")

Result:  The string starts with the specified word

18. Check if a string ends with a specific word or phrase

In [18]:
string = "Once upon a time in jungle"
word = "e"
result = string.endswith(word)

print("Result: ",
      "The string ends with the specified word" if result == True 
      else "The string does not end with the specified word")

Result:  The string ends with the specified word

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [34]:
string = "hello world"
string_with_title_case = string.capitalize()
print(string_with_title_case)

Hello world

20. Find the longest word in a string.

In [39]:
# Define a function to calculate the longest word in string
def longest_word(string: str) -> str:
    
    #this variable will always store the longest word while iterating over the list of words
    longest_word = ""
    
    #split the string into a list of words
    word_list = string.split(' ')
    
    for word in word_list:
        if len(word) > len(longest_word):        
            longest_word = word        
    
    return longest_word

# Take user input
input_string = str(input("Enter a string: "))

# Print the result
print(f"The longest word in the string is: '{longest_word(input_string)}'")

Enter a string: Swaraj is my birth right and I shall have it
The longest word in the string is: 'Swaraj'

21. Find the shortest word in a string.

In [43]:
# Define a function to calculate the longest word in string
def shortest_word(string: str) -> str:
    
    #split the string into a list of words
    word_list = string.split(' ')
        
    #this variable will always store the shortest word while iterating over the list of words
    #assign it with the starting list item
    shortest_word = word_list[0]
    
    for word in word_list:
        if len(word) < len(shortest_word):        
            shortest_word = word        
    
    return shortest_word

# Take user input
input_string = str(input("Enter a string: "))

# Print the result
print(f"The shortest word in the string is: '{shortest_word(input_string)}'")

Enter a string: Swaraj is my birth right and I shall have it
The shortest word in the string is: 'I'

22. Reverse the order of words in a string.

In [48]:
string1 = "the quick brown fox jumps over the lazy dog"

#split the string into a list of words
list1 = string1.split()

#reverse the list of words
list1 = list1[::-1]

#join the words back to form a reversed string
string2 = ' '.join(list1)

print(f"The reversed string is: {string2}")

The reversed string is: dog lazy the over jumps fox brown quick the

23. Check if a string is alphanumeric.

In [13]:
# Take user input
string3 = str(input("Enter a string: ")) 

###########################################################################################
# APPROACH 1: Using python in-built function isalnum()
print("# APPROACH 1: Using python in-built function isalnum()")
if string3.isalnum():
    print("The string is alphanumeric")
else:
    print("The string is non-alphanumeric")

###########################################################################################
# APPROACH 2: Without using python in-built function isalnum()
print("\n" + "# APPROACH 2: Without using python in-built function isalnum()")

# Define a function
def is_alphanumeric(string: str) -> bool:
    #declare a flag variable
    is_alphanum = True

    alphanumeric_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'

    #iterate through each character of string to match it with defined alphanum letters
    for char in string3:
        if char not in alphanumeric_letters:
            is_alphanum = False        
            break
    return is_alphanum
    
if is_alphanumeric(string3):
    print("The string is alphanumeric")
else:
    print("The string is non-alphanumeric")
    
###########################################################################################

Enter a string: asdfg@#!
# APPROACH 1: Using python in-built function isalnum()
The string is non-alphanumeric

# APPROACH 2: Without using python in-built function isalnum()
The string is non-alphanumeric

24. Extract all digits from a string.

In [25]:
def get_digits(string: str) -> str:
    digits = ""
    for char in string:
        if char.isdigit():
            digits += char
    return digits

string4 = "Th3 qu!ck br0w9 f0x"
print("The digits are: ", get_digits(string4))

The digits are:  3090

25. Extract all alphabets from a string.

In [24]:
def get_alphabets(string: str) -> str:
    alphabets = ""
    for char in string:
        if char.isalpha():
            alphabets += char
    return alphabets

string5 = "Th3 qu!ck br0w9 f0x"
print("The alphabets are: ", get_alphabets(string5))

The alphabets are:  Thquckbrwfx

26. Count the number of uppercase letters in a string.

In [26]:
def get_uppercase_count(string: str) -> int:
    count = 0
    for char in string:
        if char.isupper():
            count += 1
    return count

string6 = "Humpty DumPty"
print("The uppercase letter count is: ", get_uppercase_count(string6))

The uppercase letter count is:  3

27. Count the number of lowercase letters in a string.

In [27]:
def get_lowercase_count(string: str) -> int:
    count = 0
    for char in string:
        if char.islower():
            count += 1
    return count

string7 = "Humpty DumPty"
print("The lowercase letter count is: ", get_lowercase_count(string7))

The lowercase letter count is:  9

28. Swap the case of each character in a string.

In [34]:
# Take user input
string8 = str(input("Enter a string: "))

###########################################################################################
# APPROACH 1: Using python in-built function swapcase()
print("# APPROACH 1: Using python in-built function swapcase()")
print("The case-swapped string is: ", string8.swapcase())

###########################################################################################
# APPROACH 2: Without using python in-built function swapcase()
print("\n" + "# APPROACH 2: Without using python in-built function swapcase()")

# Define a function
def swap_case(string: str) -> str:
    new_string = ""
    for char in string:
        if char.islower():
            new_string += char.upper()
        elif char.isupper():
            new_string += char.lower()
        else:
            new_string += char
    return new_string
         
print("The case-swapped string is: ", swap_case(string8))

###########################################################################################

Enter a string: The Quick Brown Fox Jumps!
# APPROACH 1: Using python in-built function swapcase()
The case-swapped string is:  tHE qUICK bROWN fOX jUMPS!

# APPROACH 2: Without using python in-built function swapcase()
The case-swapped string is:  tHE qUICK bROWN fOX jUMPS!

29. Remove a specific word from a string.

In [5]:
string9 = "The Quick Brown Fox Jumps Over The Lazy Dog"
word_to_removed = "Quick"

#split the string into a list of words
w_list = string9.split()

#remove the specified word form the list
w_list.remove(word_to_removed)

#join back the list of words
modified_string9 = ' '.join(w_list)
print(modified_string9)

The Brown Fox Jumps Over The Lazy Dog

30. Check if a string is a valid email address.

In [8]:
#import regex library
import re

def is_valid_email(email: str) -> bool:
    return re.match(r"[^@]+@[^@]+\.[^@]+", email)

input_email = str(input("Enter an email: "))

print("Valid email." if is_valid_email(input_email) else "Invalid email.")

Enter an email: joe.biden@whitehouse.com
Valid email.

31. Extract the username from an email address string.

In [11]:
email_string10 = "joe.biden@whitehouse.com"

#use slicing; start from 0th index to the index position of '@' character
user_name = email_string10[0:email_string10.index("@")]
print(f"User name is: {user_name}")

User name is: joe.biden

32. Extract the domain name from an email address string.

In [2]:
email_string11 = "joe.biden@whitehouse.com"

#use split function
list11 = email_string11.split('@')

#select list item from index 1
print(f"Domain name is: {list11[1]}")

Domain name is: whitehouse.com

33. Replace multiple spaces in a string with a single space.

In [9]:
string33 = "A    friend   in    need    is     a     friend     indeed"

#Step1: use split to separate words by whitespaces
list33 = string33.split()

#Step2: join back the words into a string
result_string33 = ' '.join(list33)
print(result_string33)

A friend in need is a friend indeed

34. Check if a string is a valid URL.

In [24]:
from urllib.parse import urlparse

url_string = "https://www.pwskills.com"
parsed_url = urlparse(url_string)

print("The string is", "a valid URL" if all([parsed_url.scheme, parsed_url.netloc]) 
      else "an invalid URL")

The string is a valid URL

35. Extract the protocol (http or https) from a URL string.

In [27]:
url_35 = "https://www.pwskills.com"

#use split function
list_35 = url_35.split('://')

#select list item from index 0
print(f"Protocol is: {list_35[0]}")

Protocol is: https

36. Find the frequency of each character in a string.

In [32]:
str_36 = "mississippi"

# create an empty dictionary to store the frequencies of each character
frequencies = {}

# add the frequency of each character
for char in str_36:
    freq = str_36.count(char)
    frequencies.update({char : freq})
    
print(f"String: {str_36}")
for key, value in frequencies.items():
    print(f"The frequency of {key} in '{str_36}' is: {value}")

String: mississippi
The frequency of m in 'mississippi' is: 1
The frequency of i in 'mississippi' is: 4
The frequency of s in 'mississippi' is: 4
The frequency of p in 'mississippi' is: 2

37. Remove all punctuation from a string.

In [41]:
import string

str_37 = "D@^ger*u&"

modified_str_list = [char for char in str_37 if char not in string.punctuation]

print(f"The string without punctuation is: {''.join(modified_str_list)}")

The string without punctuation is: Dgeru

38. Check if a string contains only digits.

In [53]:
def is_all_digits(s: str) -> bool:
    return s.isdigit()

str_38 = "63826423232"

print("The string contains all digits" if is_all_digits(str_38) else "The string doesn't contain all digits")

The string contains all digits

39. Check if a string contains only alphabets.

In [3]:
def is_all_alphabets(s: str) -> bool:
    return s.isalpha()

str_39 = "qwertasdfg"

print("The string contains all alphabets" if is_all_alphabets(str_39) else "The string doesn't contain all alphabets")

The string contains all alphabets

40. Convert a string to a list of characters.

In [10]:
str_40 = "Hallucination"
list_of_characters = [char for char in str_40]
print(f"List of characters: {list_of_characters}")

List of characters: ['H', 'a', 'l', 'l', 'u', 'c', 'i', 'n', 'a', 't', 'i', 'o', 'n']

41. Check if two strings are anagrams.

In [17]:
def is_anagram(s1: str, s2: str) -> bool:
    return sorted(s1) == sorted(s2)

str1 = "angered"
str2 = "enraged"

print(f"The strings '{str1}' and '{str2}' are", "anagrams" if is_anagram(str1,str2) else "not anagrams")

The strings 'angered' and 'enraged' are anagrams

42. Encode a string using a Caesar cipher.

In [3]:
def encode_caesar_cipher(text, shift):
    encrypted_text = ""
    for char in text:
        if char.isalpha():
            ascii_offset = 65 if char.isupper() else 97
            encrypted_text += chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
        else:
            encrypted_text += char
    return encrypted_text

text = input("Enter a string: ")
shift = 3
encrypted_text = encode_caesar_cipher(text, shift)
print("Encrypted string: ", encrypted_text)

Enter a string: Secret meeting at midnight.
Encrypted string:  Vhfuhw phhwlqj dw plgqljkw.

43. Decode a Caesar cipher encoded string.

In [4]:
def decode_caesar_cipher(text, shift):
    decrypted_text = ""
    for char in text:
        if char.isalpha():
            ascii_offset = 65 if char.isupper() else 97
            decrypted_text += chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
        else:
            decrypted_text += char
    return decrypted_text

text = input("Enter a string: ")
shift = 3
decrypted_text = decode_caesar_cipher(text, shift)
print("Decrypted string: ", decrypted_text)

Enter a string: Vhfuhw phhwlqj dw plgqljkw.
Decrypted string:  Secret meeting at midnight.

44. Find the most frequent word in a string.

In [45]:
str_44 = "assassination"

# create an empty dictionary to store the frequencies of each character
frequencies = {}

# add the frequency of each character
for char in str_44:
    freq = str_44.count(char)
    frequencies.update({char : freq})
    
print(f"String: {str_44}")

max_value = max(frequencies, key=frequencies.get)

print(f"The most frequent word '{str_44}' is: {max_value}")

String: assassination
The most frequent word 'assassination' is: s

45. Find all unique words in a string.

In [80]:
str_45 = "once upon a time there was a time when the king once built the palace"
print("Unique words are: ", set(str_45.split()))

Unique words are:  {'built', 'upon', 'king', 'palace', 'a', 'was', 'once', 'the', 'when', 'time', 'there'}

46. Count the number of syllables in a string.

In [90]:
def count_syllables(word):
    word = word.lower()
    vowels = "aeiouy"
    count = 0

    if word[0] in vowels:
        count += 1

    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1

    if word.endswith("e"):
        count -= 1

    if count == 0:
        count += 1

    return count

word = "assassination"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'assassination' has 5 syllables.

47. Check if a string contains any special characters.

In [73]:
str_47 = "1233abcccc!@#$"

print("The string doesn't contain special characters" if str_47.isalnum()
      else "The string contains special characters")

The string contains special characters

48. Remove the nth word from a string.

In [32]:
str_48 = "opportunity"
print(f"Initial string: {str_48}")

n = int(input("Enter the value of n: "))

#fill a list from iterating the string, exclude the nth letter from the string
list_48 = [char for i,char in enumerate(str_48) if i != n-1]

#join back the letters to get the modified string
modified_str = ''.join(list_48)
print(f"After removing nth letter from string: {modified_str}")

Initial string: opportunity
Enter the value of n: 7
After removing nth letter from string: opportnity

49. Insert a word at the nth position in a string.

In [94]:
str_49 = "Hi, are you going?"
word = "how"

#position 4 means index=3
position = 4

new_string = str_49[:position-1] + word + str_49[position-1:]
print(f"After inserting at {position}th position: {new_string}")

After inserting at 4th position: Hi,how are you going?

50. Convert a CSV string to a list of lists.

In [117]:
csv_string = "1,2,3,4\n5,6,7,8\n9,10,11,12"
list1 = csv_string.split('\n')

list_of_lists = [item.split(',') for item in list1]
print("The list of lists is: ", list_of_lists)

The list of lists is:  [['1', '2', '3', '4'], ['5', '6', '7', '8'], ['9', '10', '11', '12']]

# TOPIC: List Based Practice Problems

1. Create a list with integers from 1 to 10.

In [119]:
list_of_int = [i for i in range(1,11)]
print(f"The list of integers is: {list_of_int}")

The list of integers is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [122]:
list_2 = [1, 2, 3, 4, 5]
length = 0
for _ in list_2:
    length += 1

print(f"The length of the list {list_2} is: {length}")

The length of the list [1, 2, 3, 4, 5] is: 5

3. Append an element to the end of a list.

In [125]:
list_3 = [1, 2, 3, 4, 5]

#append 10 at the end
list_3.append(10)

print(list_3)

[1, 2, 3, 4, 5, 10]

4. Insert an element at a specific index in a list.

In [128]:
list_4 = [1, 2, 4, 5]

#insert 3 at index 2
list_4.insert(2, 3)
print("After insert: ", list_4)

After insert:  [1, 2, 3, 4, 5]

5. Remove an element from a list by its value.

In [130]:
list_5 = [9, 8, 7, 5, 6]

#remove 5
list_5.remove(5)

print("After removing element: ", list_5)

After removing element:  [9, 8, 7, 6]

6. Remove an element from a list by its index.

In [131]:
list_6 = [3, 4, 7, 5, 6]

#remove item at index 2
list_6.pop(2)

print("After removing element: ", list_6)

After removing element:  [3, 4, 5, 6]

7. Check if an element exists in a list.

In [135]:
list_7 = ["papaya", "banana", "apple", "cherry"]

element_to_check = str(input("Enter an element to check: "))

print("Element exists" if list_7.count(element_to_check) > 0 else "Element doesn't exist")

Enter an element to check: cherry
Element exists

8. Find the index of the first occurrence of an element in a list.

In [ ]:
list_6 = [3, 4, 7, 5, 3, 5, 7, 9, 4]

element_to_check = str(input("Enter an element to check its first occurence: "))

9. Count the occurrences of an element in a list.

In [147]:
list_9 = [6, 5, 4, 3, 6, 4, 6]

occurrences = {i: list_9.count(i) for i in list_9}

for key, value in occurrences.items():
    print(f"The element {key} appears {value} times in the list.")

The element 6 appears 3 times in the list.
The element 5 appears 1 times in the list.
The element 4 appears 2 times in the list.
The element 3 appears 1 times in the list.

10. Reverse the order of elements in a list.

In [148]:
list_10 = ["papaya", "banana", "apple", "cherry"]

print(f"The reversed list is: {list_10[::-1]}")

The reversed list is: ['cherry', 'apple', 'banana', 'papaya']

11. Sort a list in ascending order.

In [1]:
list11 = [4, 5, 2, 1, 3]

sorted(list11)

[1, 2, 3, 4, 5]

12. Sort a list in descending order.

In [2]:
list11 = [4, 5, 2, 1, 3]

sorted(list11, reverse=True)

[5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [5]:
even_numbers = [i for i in range(1, 21) if i % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [6]:
odd_numbers = [i for i in range(1, 21) if i % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [9]:
from functools import reduce
list15 = [1, 2, 3, 4, 5]

sum_of_elements = reduce(lambda *args: sum(args), list15)
print(sum_of_elements)

15

16. Find the maximum value in a list.

In [10]:
list16 = [3, 1, 5, 2, 4]

max(list16)

5

17. Find the minimum value in a list.

In [11]:
list17 = [3, 1, 5, 2, 4]

min(list17)

1

18. Create a list of squares of numbers from 1 to 10.

In [13]:
list_of_squares = [i**2 for i in range(1, 11)]
print("List of squares: ",list_of_squares)

List of squares:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [15]:
import random

# Generating 10 random numbers in the range of 1-50
result = random.sample(range(1, 50), 10)
print("Random number list is:", result)

Random number list is: [28, 8, 40, 25, 34, 31, 43, 37, 4, 24]

20. Remove duplicates from a list.

In [6]:
list20 = [2, 4, 2, 1, 3, 5, 1, 6]

final_list = []
[final_list.append(i) for i in list20 if i not in final_list]

print(f"List after removing duplicates: {final_list}")

List after removing duplicates: [2, 4, 1, 3, 5, 6]

21. Find the common elements between two lists.

In [11]:
list_1 = [4, 5, 6, 7, 8]
list_2 = [1, 2, 3, 4, 5]

set_1 = set(list_1)
set_2 = set(list_2)

common_elements_set = set_1.intersection(set_2)
print(f"The common elements between both lists are: {list(common_elements_set)}")

The common elements between both lists are: [4, 5]

22. Find the difference between two lists.

In [15]:
list_1 = [4, 5, 6, 7, 8]
list_2 = [4, 5]

set_1 = set(list_1)
set_2 = set(list_2)

different_elements_set = set_1.difference(set_2)
print(f"The difference between list_1 and list_2 is: {list(different_elements_set)}")

The difference between list_1 and list_2 is: [8, 6, 7]

23. Merge two lists.

In [18]:
list_1 = [4, 5, 6, 7, 8]
list_2 = [1, 2, 3]

merged_list = list_1 + list_2
print("Merged list : ", merged_list)

Merged list :  [4, 5, 6, 7, 8, 1, 2, 3]

24. Multiply all elements in a list by 2.

In [19]:
list24 = [4, 5, 6, 7, 8]

result = [x*2 for x in list24]
print(result)

[8, 10, 12, 14, 16]

25. Filter out all even numbers from a list.

In [13]:
list25 = [2, 9, 1, 6, 4, 8, 3, 7, 5]

even_numbers = [i for i in list25 if i % 2 == 0]
print("List containing even numbers: ", even_numbers)

List containing even numbers:  [2, 6, 4, 8]

26. Convert a list of strings to a list of integers.

In [21]:
list_of_strings = ['1', '2', '3']
list_of_integers = [int(x) for x in list_of_strings]
print(list_of_integers)

[1, 2, 3]

27. Convert a list of integers to a list of strings.

In [22]:
list_of_integers = [1, 2, 3]
list_of_strings = [str(x) for x in list_of_integers]

print(list_of_strings)

['1', '2', '3']

28. Flatten a nested list.

In [23]:
nested_list = [[1, 2], [3, 4, 5], [6, 7]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [3]:
def fibonacci_series(n: int):
    # initialize the first two elements of a fibonacci list
    fib_lst = [0, 1]

    # check if n is a valid number
    if n <= 0:
        print("Please enter a positive integer greater than 0")
    elif n == 1:
        print(f"Fibonacci sequence upto {n}: ")
        print(fib_lst[n-1])
    else:
        print(f"Fibonacci sequence upto {n}: ")
        for i in range(2, n):
            fib_lst.append(fib_lst[i-1] + fib_lst[i-2])
        print(fib_lst)
    
num = int(input("Enter num: "))
fibonacci_series(num)

Enter num: 10
Fibonacci sequence upto 10:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [10]:
def is_sorted(my_list):
    if len(my_list) <= 1:
        return True
    elif my_list[0] >= my_list[1]:
        return False
    else:
        return is_sorted(my_list[1:])

list30 = [1, 2, 3, 4, 5]
print("List is sorted" if is_sorted(list30) else "List is unsorted")

List is sorted

31. Rotate a list to the left by `n` positions.

In [18]:
def rotate_left(lst, n):
    return lst[n:] + lst[:n]

list31 = [1, 2, 3, 4, 5, 6, 7, 8]

n = int(input("Enter the value of n: "))

print(f"Left rotated list by {n} positions: {rotate_left(list31, n)}")

Enter the value of n: 3
Left rotated list by 3 positions: [4, 5, 6, 7, 8, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [20]:
def rotate_right(lst, n):
    return lst[-n:] + lst[:-n]

list32 = [1, 2, 3, 4, 5, 6, 7, 8]

n = int(input("Enter the value of n: "))

print(f"Right rotated list by {n} positions: {rotate_right(list32, n)}")

Enter the value of n: 3
Right rotated list by 3 positions: [6, 7, 8, 1, 2, 3, 4, 5]

33. Create a list of prime numbers up to 50.

In [23]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

list_of_primes = [x for x in range(2, 51) if is_prime(x)]
print(f"List of prime numbers up to 50: {list_of_primes}")

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [36]:
list34 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
chunk_size = int(input("Enter the chunk size: "))

list_length = len(list34)
i=0 #initialize the pointer
n=1 #list number
while i < list_length:
    print(f"List {n}: {list34[i:i+chunk_size]}")
    i += chunk_size # set the pointer to next chunk
    n += 1 #increment the list number

Enter the chunk size: 4
List 1: [1, 2, 3, 4]
List 2: [5, 6, 7, 8]
List 3: [9, 10, 11, 12]

35. Find the second largest number in a list.

In [46]:
def find_second_largest(lst):
    new_list = set(lst) #convert the list into a set to remove duplicates
    new_list.remove(max(new_list)) #remove the max number
    return max(new_list)

list35 = [6, 10, 2, 7, 10, 3, 9, 1, 4, 5, 8]
print(f"The second largest number is: {find_second_largest(list35)}")

The second largest number is: 9

36. Replace every element in a list with its square.

In [4]:
list36 = [1, 2, 3, 4, 5]

list36 = [x**2 for x in list36]
print(list36)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [61]:
list37 = ["potato", "carrot", "radish", "cucumber", "onion"]

my_dict = {item : index for index, item in enumerate(list37)}
my_dict

{'potato': 0, 'carrot': 1, 'radish': 2, 'cucumber': 3, 'onion': 4}

38. Shuffle the elements of a list randomly.

In [70]:
import random

list38 = ["potato", "carrot", "radish", "cucumber", "onion"]
random.shuffle(list38)
print(list38)

['carrot', 'potato', 'radish', 'onion', 'cucumber']

39. Create a list of the first 10 factorial numbers.

In [76]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(i) for i in range(1, 11)]

print("The list of the first 10 factorial numbers: ", factorial_list)

The list of the first 10 factorial numbers:  [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [88]:
def check_common_element(lst1, lst2):
    return bool(set(lst1) & set(lst2))

list_1 = [4, 5, 6, 7, 8]
list_2 = [1, 2, 3, 4, 5]

print("Common element", "present" if check_common_element(list_1, list_2) else "not present")

Common element present

41. Remove all elements from a list.

In [93]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

42. Replace negative numbers in a list with 0.

In [102]:
list42 = [2, -1, 3, -5, 4, -6]

list42 = [0 if x < 0 else x for x in list42 ]
print(list42)

[2, 0, 3, 0, 4, 0]

43. Convert a string into a list of words.

In [107]:
string43 = "I love my country very much"

print("List of words: ", string43.split())

List of words:  ['I', 'love', 'my', 'country', 'very', 'much']

44. Convert a list of words into a string.

In [111]:
list_of_words = ['I', 'love', 'my', 'country', 'very', 'much']

string44 = ' '.join(list_of_words) 
print("String : ", string44)

String :  I love my country very much

45. Create a list of the first `n` powers of 2.

In [114]:
n = int(input("Enter the value of n: "))

list_powers = [2 ** n for n in range(1, n + 1)]

print(f"The list of the first {n} powers of 2: {list_powers}")

Enter the value of n: 5
The list of the first 5 powers of 2: [2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [119]:
list_of_strings = ["egg", "carrot", "beet", "cucumber", "onion"]

longest_str = max(list_of_strings, key=len)
print(f"The longest string in a list of strings is : '{longest_str}'")

The longest string in a list of strings is : 'cucumber'

47. Find the shortest string in a list of strings.

In [120]:
list_of_strings = ["egg", "carrot", "beet", "cucumber", "onion"]

shortest_str = min(list_of_strings, key=len)
print(f"The shortest string in a list of strings is : '{shortest_str}'")

The shortest string in a list of strings is : 'egg'

48. Create a list of the first `n` triangular numbers.

In [124]:
def triangular_numbers(n):
    return [sum(range(i+1)) for i in range(1, n+1)]

n = int(input("Enter the value of n: "))
print(f"The list of the first {n} triangular numbers: {triangular_numbers(n)}")

Enter the value of n: 5
The list of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [132]:
def is_subsequence(subseq, inseq):
    return set(subseq).issubset(set(inseq))

list1 = [1, 2]
list2 = [1, 2, 3, 4, 5]

if is_subsequence(list1, list2):
    print("list2 contains list1 as a subsequence")
else:
    print("list2 does not contain list1 as a subsequence")

list2 contains list1 as a subsequence

50. Swap two elements in a list by their indices.

In [35]:
def swap_positions(my_list, index1, index2):
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
    return my_list

list50 = ["apple", "ball", "car", "dog", "egg", "fish"]

print("Enter both the indices to swap.")
i1 = int(input("Enter first index: "))
i2 = int(input("Enter second index: "))

print(f"List after swapping the indices {i1} and {i2}: {swap_positions(list50, i1, i2)}")

Enter both the indices to swap.
Enter first index: 2
Enter second index: 4
List after swapping the indices 2 and 4: ['apple', 'ball', 'egg', 'dog', 'car', 'fish']

# TOPIC: Tuple Based Practice Problems

1. Create a tuple with integers from 1 to 5.

In [10]:
tuple1 = tuple(range (1, 6))
print("Tuple with integers from 1 to 5: ", tuple1)

Tuple with integers from 1 to 5:  (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [11]:
tuple2 = (21, 11, 31, 29, 6)

print(f"The third element of tuple is: {tuple2[2]}")

The third element of tuple is: 31

3. Find the length of a tuple without using the `len()` function.

In [14]:
tuple3 = (2, 91, 11, 31, 21, 99, 6)

length = 0

for _ in tuple3:
    length += 1

print(f"The length of the tuple is: {length}")

The length of the tuple is: 7

4. Count the occurrences of an element in a tuple.

In [19]:
tuple4 = (3, 2, 5, 3, 1, 9, 3, 7, 3, 10, 4)

item = int(input("Enter an element to find the count: "))
print(f"The occurence of '{item}' is : {tuple4.count(item)}")

Enter an element to find the count: 3
The occurence of '3' is : 4

5. Find the index of the first occurrence of an element in a tuple.

In [21]:
tuple5 = (8, 2, 1, 4, 7, 2, 9, 1, 5, 6)

item = int(input("Enter an element to find the index of its first occurence: "))

print(f"The index of first occurrence of '{item}' is: {tuple5.index(item)}")

Enter an element to find the index of its first occurence: 1
The index of first occurrence of '1' is: 2

6. Check if an element exists in a tuple.

In [27]:
tuple6 = (8, 2, 1, 4, 7, 2, 9, 1, 5, 6)

item = int(input("Enter an element to check its existence: "))

print("Item exists" if item in tuple6 else "Item doesn't exist")

Enter an element to check its existence: 7
Item exists

7. Convert a tuple to a list.

In [33]:
tuple7 = (8, 2, 1, 4, 7, 2, 9, 1, 5, 6)

my_list = list(tuple7)
print("List: ", my_list)

List:  [8, 2, 1, 4, 7, 2, 9, 1, 5, 6]

8. Convert a list to a tuple.

In [32]:
my_list = [8, 2, 1, 4, 7, 2, 9, 1, 5, 6]

tuple8 = tuple(my_list)
print("Tuple: ", tuple8)

Tuple:  (8, 2, 1, 4, 7, 2, 9, 1, 5, 6)

9. Unpack the elements of a tuple into variables.

In [35]:
categories = ("apple", "potato", "coffee")

#unpack into variables
(fruit, vegetable, beverage) = categories

print("fruit : ", fruit)
print("vegetable : ", vegetable)
print("beverage : ", beverage)

fruit :  apple
vegetable :  potato
beverage :  coffee

10. Create a tuple of even numbers from 1 to 10.

In [36]:
even_numbers = tuple(x for x in range(1, 11) if x%2==0)

print(f"Even numbers from 1 to 10:  {even_numbers}")

Even numbers from 1 to 10:  (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [37]:
odd_numbers = tuple(x for x in range(1, 11) if x%2!=0)

print(f"Odd numbers from 1 to 10:  {odd_numbers}")

Odd numbers from 1 to 10:  (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [38]:
tuple_1 = (2, 4, 6, 8, 10)
tuple_2 = (1, 3, 5, 7, 9)

concat_tuple = tuple_1 + tuple_2
print(concat_tuple)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [40]:
tuple13 = (1, 2, 3, 4, 5)

print(f"Tuple repeated 3 times:  {tuple13 * 3}")

Tuple repeated 3 times:  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [46]:
tuple14 = ()

print("Empty" if len(tuple14) == 0 else "Not empty")

Empty

15. Create a nested tuple.

In [48]:
nested_tuple = (1, 2, 3, (4, 5), 6)

print(nested_tuple)

(1, 2, 3, (4, 5), 6)

16. Access the first element of a nested tuple.

In [54]:
tuple16 = (1, 2, 3, 4, (9, 8, 7), 6)

#nested tuple is present at index 4
#get the first element of nested tuple as below:
print("First element of nested tuple is: ", tuple16[4][0])

First element of nested tuple is:  9

17. Create a tuple with a single element.

In [62]:
'''
The comma after the element is necessary to indicate that it is a tuple. 
If we omit the comma, Python will not recognize it as a tuple.
'''
tuple17 = (2,)

print("Tuple with a single element is: ", tuple17)

Tuple with a single element is:  (2,)

18. Compare two tuples.

In [16]:
tup1 = (10, 4, 5)
tup2 = (13, 5, 18)

# check if all the elements of tup2 are greater than the corresponding elements of tup1
result = all(i<j for i,j in zip(tup1, tup2))

if result:
    print("All elements of tup2 are greater than tup1")
else:
    print("All elements of tup2 are not greater than tup1")

All elements of tup2 are greater than tup1

19. Delete a tuple.

In [23]:
tuple19 = (1, 2, 3, 4, 5)

#this deletes a tuple
del tuple19
print("Tuple deleted!")

#this will give error if we try to access the tuple again after deleting it
print(tuple19)

Tuple deleted!

NameError: name 'tuple19' is not defined

20. Slice a tuple.

In [25]:
tuple20 = (3, 8, 2, 7, 1, 5, 4)

#slice the tuple from index 1 till index 3
print("Tuple sliced from index 1 till index 3: ", tuple20[1:4])

Tuple sliced from index 1 till index 3:  (8, 2, 7)

21. Find the maximum value in a tuple.

In [27]:
tuple21 = (3, 8, 2, 7, 1, 5, 4)

print("Maximum value in the tuple is: ", max(tuple21))

Maximum value in the tuple is:  8

22. Find the minimum value in a tuple.

In [28]:
tuple22 = (3, 8, 2, 7, 1, 5, 4)

print("Minimum value in the tuple is: ", min(tuple22))

Minimum value in the tuple is:  1

23. Convert a string to a tuple of characters.

In [30]:
string23 = "awesome"

tuple_of_char = tuple(char for char in string23)
print(tuple_of_char)

('a', 'w', 'e', 's', 'o', 'm', 'e')

24. Convert a tuple of characters to a string.

In [35]:
tuple_of_char = ('h', 'a', 'p', 'p', 'y')

string24 = ''.join(tuple_of_char)
print(string24)

happy

25. Create a tuple from multiple data types.

In [37]:
#tuple containing multiple datatypes:
tuple25 = ("apple", False, 3.2, 1)

print(tuple25)

('apple', False, 3.2, 1)

26. Check if two tuples are identical.

In [42]:
tuple1 = (10, 4, 5)
tuple2 = (10, 4, 5)

# check if all the elements of tuple1 are equal to the corresponding elements of tuple2
result = all(i==j for i,j in zip(tuple1, tuple2))

if result:
    print("Both tuples are identical")
else:
    print("Both tuples are not identical")

Both tuples are identical

27. Sort the elements of a tuple.

In [24]:
tuple27 = (6, 3, 8, 2, 7, 1, 5, 4)

sorted_tuple = tuple(sorted(tuple27))
print(f"Sorted tuple: {sorted_tuple}")

Sorted tuple: (1, 2, 3, 4, 5, 6, 7, 8)

28. Convert a tuple of integers to a tuple of strings.

In [46]:
tuple_of_int = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(x) for x in tuple_of_int)
print("Tuple of strings: ", tuple_of_strings)

Tuple of strings:  ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [47]:
tuple_of_strings = ('1', '2', '3', '4', '5')

tuple_of_int = tuple(int(x) for x in tuple_of_strings)
print("Tuple of integers: ", tuple_of_int)

Tuple of integers:  (1, 2, 3, 4, 5)

30. Merge two tuples.

In [49]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [29]:
nested_tuple = ((1, 2), (3, 4, 5), (6, 7))
flattened_tuple = tuple(item for subtuple in nested_tuple for item in subtuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [58]:
# returns boolean depending upon whether a number is prime or not
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True


counter = 1 #to track the count of prime numbers
num = 2     #initialize the first prime number. Prime numbers begin from 2.
primes = [] 

while counter <= 5:
    if is_prime(num):
        primes.append(num)
        counter += 1
    num += 1

print(f"Tuple of first 5 prime numbers: {tuple(primes)}")

Tuple of first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [7]:
tuple33 = ('r', 'a', 'd', 'a', 'r')

#reversing the order using slicing
reverse_tuple = tuple33[::-1]

if tuple33 == reverse_tuple:
    print("Tuple is a palindrome")
else:
    print("Tuple is not a palindrome")

Tuple is a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [9]:
tuple_of_squares = tuple(x**2 for x in range(1,6))

print(tuple_of_squares)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [10]:
tuple35 = (1, 2, 3, 4, 5, 6, 7, 8, 9)

even_numbers = tuple(x for x in tuple35 if x%2==0)
print("Even numbers: ", even_numbers)

Even numbers:  (2, 4, 6, 8)

36. Multiply all elements in a tuple by 2.

In [12]:
tuple36 = (1, 2, 3, 4, 5, 6, 7, 8, 9)

result = tuple(x * 2 for x in tuple36)
print("After multiplication: ", result)

After multiplication:  (2, 4, 6, 8, 10, 12, 14, 16, 18)

37. Create a tuple of random numbers.

In [18]:
import random

# Generating 10 random numbers in the range of 1-50
result = random.sample(range(1, 50), 10)
print("Tuple of random numbers:", tuple(result))

Tuple of random numbers: (44, 2, 14, 40, 26, 7, 12, 16, 24, 30)

38. Check if a tuple is sorted.

In [21]:
def is_sorted(my_tuple):
    if len(my_tuple) <= 1:
        return True
    elif my_tuple[0] >= my_tuple[1]:
        return False
    else:
        return is_sorted(my_tuple[1:])

tuple38 = (1, 2, 3, 4, 5)
print("Tuple is sorted" if is_sorted(tuple38) else "Tuple is unsorted")

Tuple is sorted

39. Rotate a tuple to the left by `n` positions.

In [25]:
def rotate_left(tup, n):
    return tup[n:] + tup[:n]

tuple39 = (1, 2, 3, 4, 5, 6, 7, 8)

n = int(input("Enter the value of n: "))

print(f"Left rotated tuple by {n} positions: {rotate_left(tuple39, n)}")

Enter the value of n: 3
Left rotated tuple by 3 positions: (4, 5, 6, 7, 8, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [26]:
def rotate_right(tup, n):
    return tup[-n:] + tup[:-n]

tuple40 = (1, 2, 3, 4, 5, 6, 7, 8)

n = int(input("Enter the value of n: "))

print(f"Right rotated tuple by {n} positions: {rotate_right(tuple40, n)}")

Enter the value of n: 3
Right rotated tuple by 3 positions: (6, 7, 8, 1, 2, 3, 4, 5)

41. Create a tuple of the first 5 Fibonacci numbers.

In [31]:
#this method returns a tuple of first n numbers
def fibonacci_series(n: int):
    # initialize the first two elements of a fibonacci list
    fib_lst = [0, 1]

    # check if n is a valid number
    if n <= 0:
        print("Please enter a positive integer greater than 0")
    elif n == 1:
        print(f"Tuple of the first {n} Fibonacci numbers: ")
        print(tuple(fib_lst[n-1]))
    else:
        print(f"Tuple of the first {n} Fibonacci numbers: ")
        for i in range(2, n):
            fib_lst.append(fib_lst[i-1] + fib_lst[i-2])
        print(tuple(fib_lst))
    
num = int(input("Enter num: "))
fibonacci_series(num)

Enter num: 5
Tuple of the first 5 Fibonacci numbers:
(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [126]:
user_input = input('Enter space-separated integers: ')
my_tuple = tuple(int(item) for item in user_input.split())
print("Tuple from user input: ", my_tuple)

Enter space-separated integers: 2 1 3 5 6 8 9
Tuple from user input:  (2, 1, 3, 5, 6, 8, 9)

43. Swap two elements in a tuple.

In [37]:
def swap_positions(tup, index1, index2):
    # since 'tuple' object does not support item assignment, we use temp list variable
    temp_list = list(tup)
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]
    return tuple(temp_list)

my_tuple = ("apple", "ball", "car", "dog", "egg", "fish")

print("Enter both the indices to swap.")
i1 = int(input("Enter first index: "))
i2 = int(input("Enter second index: "))

print(f"Tuple after swapping the indices {i1} and {i2}: {swap_positions(my_tuple, i1, i2)}")

Enter both the indices to swap.
Enter first index: 2
Enter second index: 5
Tuple after swapping the indices 2 and 5: ('apple', 'ball', 'fish', 'dog', 'egg', 'car')

44. Reverse the elements of a tuple.

In [38]:
tuple44 = ("papaya", "banana", "apple", "cherry")

print(f"The reversed tuple is: {tuple44[::-1]}")

The reversed tuple is: ('cherry', 'apple', 'banana', 'papaya')

45. Create a tuple of the first `n` powers of 2.

In [39]:
n = int(input("Enter the value of n: "))

tuple_powers = tuple(2 ** n for n in range(1, n + 1))

print(f"The tuple of the first {n} powers of 2: {tuple_powers}")

Enter the value of n: 5
The tuple of the first 5 powers of 2: (2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [41]:
tuple_of_strings = ("egg", "carrot", "beet", "cucumber", "onion")

longest_str = max(tuple_of_strings, key=len)
print(f"The longest string in a tuple of strings is : '{longest_str}'")

The longest string in a tuple of strings is : 'cucumber'

47. Find the shortest string in a tuple of strings.

In [43]:
tuple_of_strings = ("egg", "carrot", "beet", "cucumber", "onion")

shortest_str = min(tuple_of_strings, key=len)
print(f"The shortest string in a tuple of strings is : '{shortest_str}'")

The shortest string in a tuple of strings is : 'egg'

48. Create a tuple of the first `n` triangular numbers.

In [45]:
def triangular_numbers(n):
    return tuple(sum(range(i+1)) for i in range(1, n+1))

n = int(input("Enter the value of n: "))
print(f"The tuple of the first {n} triangular numbers: {triangular_numbers(n)}")

Enter the value of n: 5
The tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [48]:
def is_subsequence(subseq, inseq):
    return set(subseq).issubset(set(inseq))

tuple1 = (1, 2)
tuple2 = (1, 2, 3, 4, 5)

if is_subsequence(tuple1, tuple2):
    print("tuple2 contains tuple1 as a subsequence")
else:
    print("tuple2 does not contain tuple1 as a subsequence")

tuple2 contains tuple1 as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [50]:
def alternating_tuple(n: int) -> tuple:
    return tuple(i % 2 for i in range(n))

n = int(input("Enter the length n: "))
print(f"Tuple of alternating 1s and 0s of length {n} : {alternating_tuple(n)}")

Enter the length n: 10
Tuple of alternating 1s and 0s of length 10 : (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# TOPIC: Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [5]:
set1 = set(range(1, 6))

print(set1)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [8]:
set2 = {1, 2, 4, 5}

#adding an element 3
set2.add(3)

print(set2)

{1, 2, 3, 4, 5}

3. Remove an element from a set.

In [9]:
set3 = {1, 2, 3, 4, 5}

#removing an element 5
set3.remove(5)

print(set3)

{1, 2, 3, 4}

4. Check if an element exists in a set.

In [12]:
set4 = {1, 2, 3, 4, 5}

# Check if 4 exists in this set
print("Exists" if 4 in set4 else "Not exists")

Exists

5. Find the length of a set without using the `len()` function.

In [14]:
set5 = {1, 2, 3, 4, 5}

length = 0
for _ in set5:
    length += 1

print(f"The length of the set {set5} is : {length}")

The length of the set {1, 2, 3, 4, 5} is : 5

6. Clear all elements from a set.

In [19]:
set6 = {1, 2, 3, 4, 5}

#Clear all elements
set6.clear()

print(set6)

set()

7. Create a set of even numbers from 1 to 10.

In [22]:
set7 = set(x for x in range(1, 11) if x % 2 == 0)

print("Set of even numbers : ", set7)

Set of even numbers :  {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [23]:
set8 = set(x for x in range(1, 11) if x % 2 != 0)

print("Set of odd numbers : ", set8)

Set of odd numbers :  {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [24]:
s1 = {1, 3, 5, 7, 9}
s2 = {2, 4, 6, 8, 10}

#Union of two sets s1 and s2
print("Union of s1 and s2 : ", s1.union(s2))

Union of s1 and s2 :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [25]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {3, 6, 9}

#Intersection of two sets s1 and s2
print("Intersection of s1 and s2 : ", s1.intersection(s2))

Intersection of s1 and s2 :  {9, 3, 6}

11. Find the difference between two sets.

In [28]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {3, 6, 9}

#Difference between two sets s1 and s2
print("Difference between s1 and s2 : ", s1.difference(s2))

Difference between s1 and s2 :  {1, 2, 4, 5, 7, 8, 10}

12. Check if a set is a subset of another set.

In [39]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {3, 6, 9}

#Checking if s2 is a subset of s1
if s2.issubset(s1):
    print("s2 is a subset of s1")
else:
    print("s2 is not a subset of s1")

s2 is a subset of s1

13. Check if a set is a superset of another set.

In [42]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {3, 6, 9}

#Checking if s1 is a superset of s2
if s1.issuperset(s2):
    print("s1 is a superset of s2")
else:
    print("s1 is not a superset of s2")

s1 is a superset of s2

14. Create a set from a list.

In [44]:
list14 = [1, 2, 3, 4, 5]
    
#create a set from a list
print("Set : ", set(list14))

Set :  {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [46]:
set15 = {1, 2, 3, 4, 5}

#convert a set to a list
print("List : ", list(set15))

List :  [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [50]:
import random

my_set = {1, 2, 3, 4, 5, 6}

# Convert the set to a list
my_list = list(my_set)

# Remove a random element from the list
random_element = random.choice(my_list)
my_list.remove(random_element)

# Convert the list back to a set
my_set = set(my_list)

print(f"The updated set is: {my_set}")

The updated set is: {1, 2, 3, 4, 6}

17. Pop an element from a set.

In [52]:
fruits = {"apple", "banana", "cherry", "guava"}

#pop() function pops a random element from the set 
x = fruits.pop() 

print(x)

cherry

18. Check if two sets have no elements in common.

In [53]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("The two sets have no elements in common.")
else:
    print("The two sets have at least one element in common.")

The two sets have no elements in common.

19. Find the symmetric difference between two sets.

In [54]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
symmetric_difference_set = set1.symmetric_difference(set2)

print("Symmetric difference: ", symmetric_difference_set)

Symmetric difference:  {1, 4}

20. Update a set with elements from another set.

In [55]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Update set1 with elements from set2
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [56]:
# returns boolean depending upon whether a number is prime or not
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True


counter = 1 #to track the count of prime numbers
num = 2     #initialize the first prime number. Prime numbers begin from 2.
primes = [] 

while counter <= 5:
    if is_prime(num):
        primes.append(num)
        counter += 1
    num += 1

print(f"Set of first 5 prime numbers: {set(primes)}")

Set of first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [57]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are identical")
else:
    print("The sets are not identical")

The sets are identical

23. Create a frozen set.

In [65]:
fruits_set = {"apple", "banana", "orange"}

#The frozenset object has the same properties as a set object, but it is immutable.
fruits_frozen_set = frozenset(fruits_set)
print("Frozen set : ", fruits_frozen_set)

Frozen set :  frozenset({'banana', 'apple', 'orange'})

24. Check if a set is disjoint with another set.

In [66]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("set1 is disjoint with set2.")
else:
    print("set1 is not disjoint with set2.")

set1 is disjoint with set2.

25. Create a set of squares of numbers from 1 to 5.

In [68]:
set_of_squares = {x ** 2 for x in range(1, 6)}

print("Set of squares : ", set_of_squares)

Set of squares :  {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [74]:
set26 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

filtered_set = set(filter(lambda x: x%2==0, set26))
print("Even numbers : ", filtered_set)

Even numbers :  {2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [85]:
set27 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

multiplied_by_2 = {x * 2 for x in set27}
print("Set elements multiplied by 2 : ", multiplied_by_2)

Set elements multiplied by 2 :  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.

In [86]:
import random

# Generating 10 random numbers in the range of 1-50
result = random.sample(range(1, 50), 10)
print("Set of random numbers:", set(result))

Set of random numbers: {1, 35, 40, 9, 10, 17, 20, 26, 28, 31}

29. Check if a set is empty.

In [87]:
set29 = set()

if len(set29) == 0:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

30. Create a nested set (hint: use frozenset).

In [99]:
set1 = frozenset({1, 2, 3, 4})
set2 = frozenset({4, 5})

nested_set = {set1, set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({4, 5}), frozenset({1, 2, 3, 4})}

31. Remove an element from a set using the discard method.

In [100]:
set31 = {1, 2, 3, 4, 5}

element = int(input("Enter an element from set to remove: "))

set31.discard(element)

print(f"Set after removing {element} : ", set31)

Enter an element from set to remove: 4
Set after removing 4 :  {1, 2, 3, 5}

32. Compare two sets.

In [107]:
set_A = {100, 20, 30, 40, 80}
set_B = {10, 30, 80, 40, 20}

#check if both sets are identical
if set_A == set_B:
    print("1. Sets are identical")
else:
    print("1. Sets are not identical")

#Difference between both the sets:
#set_A minus set_B
print("2. set_A minus set_B : ", set_A.difference(set_B))
#set_B minus set_A
print("3. set_B minus set_A : ", set_B.difference(set_A))

#intersection
print("4. Intersection : ", set_A.intersection(set_B))

#union
print("5. Union : ", set_A.union(set_B))

1. Sets are not identical
2. set_A minus set_B :  {100}
3. set_B minus set_A :  {10}
4. Intersection :  {80, 40, 20, 30}
5. Union :  {100, 40, 10, 80, 20, 30}

33. Create a set from a string.

In [116]:
string33 = "horse"

my_set = set(string33)
print("Set : ", my_set)

Set :  {'e', 'h', 'o', 's', 'r'}

34. Convert a set of strings to a set of integers.

In [118]:
string34 = {'1', '2', '3', '4', '5'}

set_of_integers = {int(x) for x in string34}

print("Set of integers : ", set_of_integers)

Set of integers :  {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [117]:
set35 = {1, 2, 3, 4, 5}

set_of_strings = {str(x) for x in set35}

print("Set of strings : ", set_of_strings)

Set of strings :  {'3', '2', '5', '1', '4'}

36. Create a set from a tuple.

In [119]:
tuple36 = (1, 2, 3, 4, 5)

print("Set created from the tuple : ", set(tuple36))

Set created from the tuple :  {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [120]:
set37 = {1, 2, 3, 4, 5}

print("Tuple created from the set : ", tuple(set37))

Tuple created from the set :  (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [121]:
set38 = {1, 2, 3, 4, 5}

print("Maximum value in the set : ", max(set38))

Maximum value in the set :  5

39. Find the minimum value in a set.

In [122]:
set39 = {1, 2, 3, 4, 5}

print("Minimum value in the set : ", min(set39))

Minimum value in the set :  1

40. Create a set from user input.

In [125]:
user_input = input('Enter space-separated integers: ')

my_set = {int(item) for item in user_input.split()}
print("Set from user input: ", my_set)

Enter space-separated integers: 2 3 6 8 9 1
Set from user input:  {1, 2, 3, 6, 8, 9}

41. Check if the intersection of two sets is empty.

In [136]:
set_A = {100, 20, 30, 40, 80}
set_B = {22, 33, 44}

if not set_A.intersection(set_B):
    print("The intersection of two sets is empty")
else:
    print("The intersection of two sets is not empty")

The intersection of two sets is empty

42. Create a set of the first 5 Fibonacci numbers.

In [137]:
# initialize the set
fib_set = set()

# initialize the first two Fibonacci numbers
a, b = 0, 1

for _ in range(6):
    # Add to set
    fib_set.add(a)
    
    #set next
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers: ", fib_set)

Set of the first 5 Fibonacci numbers:  {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [140]:
my_list = [1, 1, 2, 3, 2, 3, 5, 4, 4, 5]

#remove duplicates by converting it to a set
result = set(my_list)

#convert back to list
my_list = list(result)
print("After removing duplicates : ", my_list)

After removing duplicates :  [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [146]:
set1 = {"cat", "dog", "buffalo", "dog", "cat", "buffalo"}
set2 = {"cat", "buffalo", "dog"}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [123]:
n = int(input("Enter the value of n: "))

set_powers = {2 ** n for n in range(1, n + 1)}

print(f"The set of the first {n} powers of 2: {set_powers}")

Enter the value of n: 5
The set of the first 5 powers of 2: {32, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [113]:
set46 = {1, 2, 3, 4, 5}
list46 = [4, 5, 6, 7]

#convert list46 to a set and then find the intersection
common_elements = set46.intersection(set(list46))

print("The common elements between set46 and list46 are : ", common_elements)

The common elements between set46 and list46 are :  {4, 5}

47. Create a set of the first `n` triangular numbers.

In [108]:
def triangular_numbers(n):
    return {sum(range(i+1)) for i in range(1, n+1)}

n = int(input("Enter the value of n: "))
print(f"The set of the first {n} triangular numbers: {triangular_numbers(n)}")

Enter the value of n: 6
The set of the first 6 triangular numbers: {1, 3, 6, 10, 15, 21}

48. Check if a set contains another set as a subset.

In [111]:
s1 = {10, 20, 30}
s2 = {10, 20, 30, 40, 50}

print("s2 contains s1 as a subset" if s1.issubset(s2) else "s2 doesn't contain s1 as a subset")

s2 contains s1 as a subset

49. Create a set of alternating 1s and 0s of length `n`.

In [82]:
def alternating_ones_zeros(n: int):
    return {i % 2 for i in range(n)}

n = int(input("Enter the length n: "))

#the length of the set will always be 2 since a set cannot contain duplicates
print(f"Set of alternating 1s and 0s of length {n} : {alternating_ones_zeros(n)}")

Enter the length n: 2
Set of alternating 1s and 0s of length 2 : {0, 1}

50. Merge multiple sets into one.

In [76]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}

merged_set = set1.union(set2).union(set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}